<ion-content>
  <topo-login title="Cadastrar usuário"></topo-login>

  <form [formGroup]="registerForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input
        formControlName="nome"
        type="text"
        placeholder="Nome"
        autofocus="true"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input
        formControlName="sobrenome"
        type="text"
        placeholder="Sobrenome"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" color="if" slot="start"></ion-icon>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="E-mail"
        autofocus="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Senha"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input
        formControlName="confirm_pass"
        type="password"
        placeholder="Confirmar senha"
      ></ion-input> </ion-item
    ><br /><br />

    <ion-button
      [disabled]="registerForm.invalid"
      type="submit"
      color="if"
      expand="block"
      fill="clear"
      >Entrar</ion-button
    >
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium"
        >Voltar</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
