#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;

  .logo {
    width: 100%;
    height: 100%;
    max-height: 90px;
    max-width: 70px;
  }

  h3 {
    text-align: center;
  }
}
